.chessboard {
  font-family: Arial, sans-serif;
  width: fit-content;
}

.chessboard .piece {
  background-size: cover;
}
.chessboard .square {
  position: relative;
  background-color: #f0d9b5;
}
.chessboard .square.dark {
  background-color: #b58863;
}
.chessboard .square .square-label {
  font-size: 1.2em;
  padding: 2px 3px;
}
.chessboard .square .square-label-tl {
  position: absolute;

  top: 0;
  left: 0;
}
.chessboard .square .square-label-br {
  position: absolute;
  
  bottom: 0;
  right: 0;
}
.chessboard .square .square-label-br, .chessboard .square .square-label-tl {
  color: #b58863;
}
.chessboard .square.dark .square-label-br, .chessboard .square.dark .square-label-tl {
  color: #f0d9b5;
}

.chessboard .piece.pawn-w { background-image: url("../lib/pieces-basic-svg/pawn-w.svg"); }
.chessboard .piece.pawn-b { background-image: url("../lib/pieces-basic-svg/pawn-b.svg"); }
.chessboard .piece.rook-w { background-image: url("../lib/pieces-basic-svg/rook-w.svg"); }
.chessboard .piece.rook-b { background-image: url("../lib/pieces-basic-svg/rook-b.svg"); }
.chessboard .piece.bishop-w { background-image: url("../lib/pieces-basic-svg/bishop-w.svg"); }
.chessboard .piece.bishop-b { background-image: url("../lib/pieces-basic-svg/bishop-b.svg"); }
.chessboard .piece.knight-w { background-image: url("../lib/pieces-basic-svg/knight-w.svg"); }
.chessboard .piece.knight-b { background-image: url("../lib/pieces-basic-svg/knight-b.svg"); }
.chessboard .piece.queen-w { background-image: url("../lib/pieces-basic-svg/queen-w.svg"); }
.chessboard .piece.queen-b { background-image: url("../lib/pieces-basic-svg/queen-b.svg"); }
.chessboard .piece.king-w { background-image: url("../lib/pieces-basic-svg/king-w.svg"); }
.chessboard .piece.king-b { background-image: url("../lib/pieces-basic-svg/king-b.svg"); }

.rank {
  display: flex;
}